/* line 18, ../sass/common.scss */
.toast {
  z-index: 4;
  display: none;
  width: 200px;
  height: auto;
  position: fixed;
  left: 50%;
  margin-left: -100px;
  bottom: 80px;
  background-color: #000;
  color: white;
  font-size: 20px;
  padding: 10px;
  text-align: center;
  box-shadow: 0 0 0 1px #E6E7E8;
}

/* line 35, ../sass/common.scss */
.dialog {
  top: 80px;
  z-index: 3;
  display: none;
  width: 50%;
  height: auto;
  position: fixed;
  left: 50%;
  margin-left: -25%;
  background-color: white;
  color: white;
  padding: 10px;
  box-shadow: 0 0 20px 10px #E6E7E8;
}
/* line 48, ../sass/common.scss */
.dialog .dialog-header {
  cursor: pointer;
  color: #20ABFF;
}
/* line 52, ../sass/common.scss */
.dialog .dialog-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
/* line 56, ../sass/common.scss */
.dialog .dialog-content .text {
  color: #319AFF;
  text-align: center;
}
/* line 60, ../sass/common.scss */
.dialog .dialog-content .op-content {
  display: flex;
}
/* line 62, ../sass/common.scss */
.dialog .dialog-content .op-content .cancel {
  background-color: #999;
}
/* line 66, ../sass/common.scss */
.dialog .dialog-content button {
  flex-grow: 1;
  height: 40px;
  outline: none !important;
  border: none;
  background-color: #319AFF;
  margin: 40px 40px 0px;
  color: white;
  font-size: 16px;
}
/* line 75, ../sass/common.scss */
.dialog .dialog-content button:active {
  background-color: #3E50B4;
}

/* line 83, ../sass/common.scss */
html {
  height: 100%;
}

/* line 86, ../sass/common.scss */
body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: tahoma,Century Schoolbook,Georgia,serif;
  color: #000;
  background-color: #eee;
}
/* line 93, ../sass/common.scss */
body * {
  -webkit-font-smoothing: antialiased;
}

/* line 98, ../sass/common.scss */
.header {
  position: fixed;
  padding: 0 40px;
  height: 70px;
  width: calc(100% - 80px);
  background-color: white;
  border-bottom: 1px solid #E4E5E6;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/* line 108, ../sass/common.scss */
.header .logo {
  height: 100%;
}

/* line 112, ../sass/common.scss */
.content {
  min-height: 100%;
  width: 100%;
}

/* line 3, ../sass/login.scss */
.content {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* line 9, ../sass/login.scss */
.content .panel {
  background-color: white;
  width: 400px;
  height: 300px;
  display: flex;
  flex-direction: column;
}
/* line 15, ../sass/login.scss */
.content .panel input {
  font-size: 16px !important;
  font-weight: 600 !important;
  background-color: rgba(255, 255, 255, 0);
  outline: none !important;
  border: none;
  border-bottom: 1px solid #E4E5E6;
  height: 40px;
  margin: 40px 40px 0px;
  color: #000;
}
/* line 25, ../sass/login.scss */
.content .panel input::placeholder {
  color: #999;
}
/* line 28, ../sass/login.scss */
.content .panel input:active, .content .panel input:focus {
  border-color: #000;
}
/* line 32, ../sass/login.scss */
.content .panel .login {
  height: 40px;
  outline: none !important;
  border: none;
  background-color: #319AFF;
  margin: 40px 40px 0px;
  color: white;
  font-size: 16px;
}
/* line 40, ../sass/login.scss */
.content .panel .login:active {
  background-color: #3E50B4;
}
